{% extends 'base.html.twig' %}

{% trans_default_domain "EpsonProjectTrans" %}
{% block title %}{{ "user.title.new"|trans }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/plugins/select2/select2.min.css') }}">
{% endblock %}
{% block menuActive_parameter %}active{% endblock menuActive_parameter %}
{% block body %}
    <div class="container">
        <h1>{{ "user.title.new"|trans }}</h1>
        {{ include('admin/user/_form.html.twig', {"edit": false}) }}
        <a class="btn btn-warning"
           href="{{ is_granted("ROLE_ADMIN") ? path('admin_user_index') : path('user_parameter_index') }}">
            <i class="fa fa-arrow-left"></i>
        </a>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/plugins/select2/select2.full.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('.select2').select2();
        });
    </script>
{% endblock %}
