{% trans_default_domain "EpsonProjectTrans" %}
{% extends "security/headerLogin.html.twig" %}

{% block epson_loginForm %}
<img src="{{ asset('img/epson-logo.svg') }}" width="300" height="100" alt="" class="img-fluid logo-login">
<p class="text-white">
    {{ 'meta.description'|trans }}
</p>
<p class="text-white mt-20">
    {{ 'login.introduction'|trans }}
</p>

{% if error %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
{% endif %}

<form method="post">
    {% if app.user %}
        <div class="text-white mt-20">
            <p>{{ 'login.userExist'|trans }} <br> {{ app.user.username }}, <a class="text-warning"href="{{ path('app_logout') }}">{{ 'login.logout'|trans }}</a></p>
        </div>
    {% endif %}
    <div class="form-group">
        <label for="inputEmail"></label>
        <input type="email" id="inputEmail" name="email" value="{{ last_username }}" placeholder="{{ 'login.placeholder.email'|trans }}" class="form-control" required autofocus/>
    </div>
    <div class="form-group">
        <label for="inputPassword"></label>
        <input type="password" id="inputPassword" name="password" placeholder="{{ 'login.placeholder.password'|trans }}" class="form-control" required/>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <div class="text-white checkbox my-3">
        <label>
            <input type="checkbox" name="_remember_me"> {{ "login.link.rememberme" |trans }}
        </label>
    </div>

    <button type="submit"
            class="btn btn-success block full-width m-b">{{ 'login.button.connection'|trans }}</button>
</form>
<p class="m-t text-white">
    <small>{{ 'login.legalMention'|trans }} &copy; 2019-{{ 'now'|date('Y') }}</small>
</p>
{% endblock %}
