{% trans_default_domain "EpsonProjectTrans" %}
<!-- Modal -->
<div class="modal fade" id="orderModal" tabindex="-1" aria-labelledby="orderModallabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {{ form_start(form) }}
            <div class="modal-header">
                <h2 class="modal-title text-black-50" id="orderModallabel">{{ "order.cartridge.ordere"|trans }}</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ form_row(form.orderAt)}}
                {{ form_row(form.client)}}
                {{ form_row(form.cartridge)}}
                {{ form_row(form.printer)}}
                {{ form_row(form.note)}}
                {{ form_row(form.quantity)}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ "button.closeModal"|trans }}</button>
                <button type="submit" class="btn btn-primary">{{ "button.saveSignal"|trans }}</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
