{% trans_default_domain "EpsonProjectTrans" %}
<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="profile-element">
                        <a class="text-decoration-none" href="{{ path('dashboard') }}">
                            <img alt="image" class="mb-3 mt-3" src="{{ asset('img/epson-logo.svg') }}"/>
                        </a>
                        <a href="{{ path('user_show', {'id': app.user.id}) }}"
                           class="text-decoration-none font-bold">
                            {{ app.user.fullName }} <br>

                            {% if is_granted('ROLE_ADMIN') %}{{ "user.role.admin" | trans }}{% else %}{{ app.user.company }}{% endif %}
                        </a>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>

                <li  class="{% block menuActive_dashboard %}{% endblock %} nav-item">
                    <a class="nav-link" href="{{ path('dashboard') }}"><i class="fas fa-chart-pie"> </i> <span
                                class="nav-label"> Dashboard</span></a>
                </li>
                <li  class="{% block menuActive_resume %}{% endblock %} nav-item">
                    <a class="nav-link" href="{{ path('park_state_index') }}"><i class="fas fa-chart-area" aria-hidden="true"></i>
                        <span class="nav-label">{{ "layout.link.resume"|trans }}</span></a>
                </li>
                <li  class="{% block menuActive_printerList %}{% endblock %} nav-item">
                    <a class="nav-link" href="{{ path('user_printer_index') }}"><i class="fa fa-print"
                                                                              aria-hidden="true"> </i> <span
                                class="nav-label">{{ "layout.link.printerList"|trans }}</span></a>
                </li>
                <li  class="{% block menuActive_historic %}{% endblock %} nav-item">
                    <a class="nav-link" href="{{ path('user_search_index') }}">
                        <i class="fa fa-history" aria-hidden="true"> </i>
                        <span class="nav-label">{{ "layout.link.historic"|trans }}</span>
                    </a>
                </li>
                <li  class="{% block menuActive_parameter %}{% endblock %} nav-item">
                    <a class="nav-link" href="{{ path('user_parameter_index') }}">
                        <div class="fa fa-star"></div>
                        <span class="nav-label">{{ "layout.link.parameters"|trans }}</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

